/OSMConverter/build/
/OSMConverter/dist/
/OSMConverter/nbproject/private/

/OSMViewer/.DS_Store
/OSMViewer/*/build/*
/OSMViewer/*.pbxuser
/OSMViewer/!default.pbxuser
/OSMViewer/*.mode1v3
/OSMViewer/!default.mode1v3
/OSMViewer/*.mode2v3
/OSMViewer/!default.mode2v3
/OSMViewer/*.perspectivev3
/OSMViewer/!default.perspectivev3
/OSMViewer/xcuserdata
/OSMViewer/profile
/OSMViewer/*.moved-aside
/OSMViewer/DerivedData
/OSMViewer/.idea/
/OSMViewer/*.hmap
/OSMViewer/*.xccheckout
/OSMViewer/Pods
